 <html>
 <head>
<!-- <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"> -->
<link rel="stylesheet" type="text/css" href="/symfony/web/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/symfony/web/css/surcharge.css">
</head>
	<body>
	<h2>
		test
	</h2>
		Voici le projet afficher: {{ name }} !
	</body>
</html>
