

<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
         
<link rel="stylesheet" type="text/css" href="/symfony/web/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/symfony/web/css/acceuil.css">


<body>

		<div>
			<div id="arriere">
				<img class='scroll' src="/symfony/web/images/back2.jpg" alt="" style="position: absolute;" />
			</div>
			<img class='png' id="titre" src="/symfony/web/images/simp.png" alt="" style="position: relative; top: 5px; left: 0;"> 
   
		</div>
	
		<div id="cont-form" style="position:relative">
			<p><b>{{title}} </b></p>
			<img src={{ lien }} alt="" />
			<pre>{{contenu}} </pre>
		</div>
</body>

</html>